h1 {
   text-align: center;
}

.purple {
   color: #00dae4;
}

.waste {
   width: 100%;
   display: flex;
   justify-content: center;
}

.mycontainer {
   display: flex;
   justify-content: center;
   width: 50%;
   /* border:solid; */
   border-radius: 5%;
}

.halfcontainer {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   height: 50vh;
}

.glassy {
   background: linear-gradient(to right bottom,
         rgba(200, 200, 200, 0.5),
         rgba(200, 200, 200, 0.3));
   border-radius: 2rem;
   z-index: 2;
   backdrop-filter: blur(2rem);
}

.waste {
   height: 60vh;
}

.biggest {
   background-image: url(../images/donorimg.svg);
   background-position: center;

}

.border {
   border: solid;
}

.image {
   width: 120%;
}

p {
   font-size: 20px;
}

.minecontainer {
   background-color: #f0f0ff;
   width: 80%;
   border-radius: 15px;
}

.skill {
   background-color: #1f2432;
   color: white;
   padding: 1%;
   text-align: right;
   font-size: 20px;
   border-radius: 15px;
}

.html {
   /* width: 80%; */
}

.topcontainer {
   display: flex;
   flex-direction: column;
   vertical-align: top;
   width: 90%;
   left: 54px;
}

.top {
   position: relative;
   top: -50px;
}

.money {
   font-style: italic;
}

.bold {
   font-weight: bold;
   font-size: larger;
}

.bottomcontainer {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.smalltext {
   font-size: small;
}

.buttons {
   display: flex;
   justify-content: center;
}

#other{
   background-color: white;
   transition: 0.7s;
}

#other:hover{
   background-color: #1f2432;
   color: white;
   transition: 0.7s;
}

.amount {
   background-color: #f0f0ff;
   border-radius: 5px;
   transition: 0.7s;
   height: 90%;
   width: 60%;
   border: none;

}

.amount:hover {
   background-color: #1f2432;
   color: white;
   transition: 0.7s;
}

.donate {
   height: 40px;
   width: 97%;
   border-radius: 5px;
   background-color: #1f2432;
   color: white;
}

.donate:hover {
   transition: 0.7s;
   background-color: #f0f0ff;
   color: white;
}

.name {
   text-align: center;
   position: relative;
   left: -40px;
}

.socials {
   display: flex;
   flex-direction: row;

}