.bigdiv {
    width: 100%;
    /* border:solid; */
    display: flex;
    flex-direction: row;
    align-items: center;
}

.containerdiv {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    flex: 2;
    /* border: solid; */
}

.image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.yourDetails {
    background: linear-gradient(to right bottom,
            rgba(0, 218, 228, 0.5),
            rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
}

.move {
    position: relative;
    top: -390px;
}

.details {
    position: relative;
    left: 40px;
}

h2 {
    text-align: center;
}

.mycard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardFooter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #f0f0ff;
    border-radius: 5px;
}

.price {
    text-align: left;
}

.buy {
    height: 40px;
    width: 97%;
    border-radius: 5px;
    background-color: #1f2432;
    color: white;
    transition: 0.7s;

}

.buy:hover {
    transition: 0.7s;
    background-color: #f0f0ff;
    color: #1f2432;
}

.addItem {
    font-size: large;
    height: 40px;
    width: 150px;
    border-radius: 5px;
    background-color: #1f2432;
    color: white;
    transition: 0.7s;
    position: relative;
    margin-left: 5px;
    top: -10px;
}

.addItem:hover {
    transition: 0.7s;
    background-color: #f0f0ff;
    color: #1f2432;
}

.address {
    font-size: medium;
}